#### Import Python packages

In [150]:
import cassandra

##  STAR SCHEMA FOR HEALTH CENTER

<img src="health_centres_data_mart_model.png">

#### Creating a Cluster

In [151]:
from cassandra.cluster import Cluster
try:
    cluster=Cluster(['127.0.0.1'])
    # To establish connection and begin executing queries, need a session
    session=cluster.connect()
except Exception as e:
    print(e)

WARNING:cassandra.cluster:Cluster.__init__ called with contact_points specified, but no load_balancing_policy. In the next major version, this will raise an error; please specify a load-balancing policy. (contact_points = ['127.0.0.1'], lbp = None)

#### Create Keyspace

In [152]:
session.execute("""
        CREATE KEYSPACE IF NOT EXISTS health_center
        WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
""")

#### Set Keyspace

In [153]:
session.set_keyspace("health_center")

## Create Table Satment

## Create Patient Table Query

In [154]:
patient_table_query = ("""
    CREATE TABLE IF NOT EXISTS patients(
        patient_id      INT,
        first_name      text,
        middle_name     text,
        last_name       text,
        date_of_birth   text ,
        gender_mfu      text,
        address         TEXT,
        other_details   TEXT,PRIMARY KEY(patient_id)
    )
                       """)

## Create Staff Table Query

In [155]:
staff_table_query = ("""
            CREATE TABLE IF NOT EXISTS staff(
                staff_id        INT ,
                first_name      text,
                middle_name     text,
                last_name       text,
                date_of_birth   text,
                gender_mfu      text,
                qualifications  TEXT,
                other_details   TEXT,PRIMARY KEY(staff_id) 
            )
                     """)

## create ref_calender table query

In [156]:
ref_calender_table_query = ("""
    CREATE TABLE IF NOT EXISTS ref_calender(
        calender_id   INT,
        day_number    INT,
        day_date      text,
        week_number   INT,
        year_number   INT,
        time_hrs      INT,PRIMARY KEY(calender_id)
    )
                            """)

## Create Medication Table Query

In [157]:
medication_table_query = ("""
        CREATE TABLE medication(
            medication_id          INT,
            medication_type_code   INT,
            medication_unit_cost   TEXT,
            medication_name        TEXT,
            medication_description TEXT,
            other_details          TEXT,PRIMARY KEY(medication_id)
        )
                          """)

## Create Ref_Medication Table Sql Query

In [158]:
ref_medication_types_table_query = ("""
        CREATE TABLE IF NOT EXISTS ref_medication_types(
            medication_type_code         INT,
            medication_type_description  TEXT,PRIMARY KEY(medication_type_code) 
                                            )
                              """)

## Create Appointments Table Query

In [159]:
appointments_table_query = ("""
        CREATE TABLE IF NOT EXISTS appointments(
            appointment_id         INT,
            patient_id             INT,
            staff_id               INT,
            appointment_details    TEXT,PRIMARY KEY(appointment_id) 
        )
                      """)

## Create Patients_Medication Table Sql Query

In [160]:
patients_medication_table_query = ("""
        CREATE TABLE IF NOT EXISTS patients_medication(
            patients_medication_id    INT,
            patient_id                INT,
            medication_id             INT,
            date_time_administered    TEXT,
            dosage                    TEXT,
            commentss                 TEXT,PRIMARY KEY(patients_medication_id)
        )
                             """)

## Create Facts Table Sql Query

In [161]:
facts_table_query = ("""
        CREATE TABLE IF NOT EXISTS facts(
            fact_id                INT,
            appointment_id         INT,
            calender_id            INT,
            medication_id          INT,
            medication_type_code   INT,
            patient_id             INT,
            patients_medication    INT,
            staff_id               INT,
            other_details          TEXT,PRIMARY KEY(fact_id)
                                          )
              """)

## Create Table Queries Lis

In [162]:
create_table_queries = [patient_table_query, staff_table_query, ref_calender_table_query,medication_table_query, 
                         ref_medication_types_table_query,appointments_table_query, 
                        patients_medication_table_query,facts_table_query]

In [163]:
try:
    for query in create_table_queries:
        session.execute(query)
except Exception as e:
    print(e)

## TEST

In [164]:
## insert patients  
insert_patients = ("""
   INSERT INTO patients (patient_id,first_name,middle_name,last_name,date_of_birth
       ,gender_mfu,address,other_details)
    VALUES (1,'AHMED','ADEL','HAASSAN','1996-07-04','m','other_details','other_details')
""")


## insert staff  
insert_staff = ("""
    INSERT INTO staff (staff_id,first_name,middle_name,last_name,date_of_birth
         ,gender_mfu,qualifications,other_details)
  VALUES  (1,'AHMED','ADEL','HAASSAS','1996-07-04','m','qualifications','other_details')
                                   """)
## insert into ref_calender sql query
insert_ref_calender = ("""
    INSERT INTO ref_calender (calender_id,day_number,day_date,week_number,year_number ,time_hrs)
    VALUES  (1,4,'1996-07-04',5,5,5)
                  """)
insert_ref_calender = ("""
    INSERT INTO ref_calender (calender_id,day_number,day_date,week_number,year_number ,time_hrs)
    VALUES  (1,4,'1996-07-04',5,5,5)
                  """)
 ## insert into ref_medication_types sql query
insert_ref_medication_types = ("""
    INSERT INTO ref_medication_types (medication_type_code,medication_type_description)
    VALUES  (1,'medication_type_description')
                  """)

## insert into medication sql query
insert_medication = ("""
    INSERT INTO medication (medication_id,medication_type_code,medication_unit_cost
                            ,medication_name,medication_description ,other_details)
    VALUES  (1,1,'medication_unit_cost',
                 'medication_name','medication_description','other_details')
                  """)
## insert into appointments sql query
insert_ref_appointments = ("""
    INSERT INTO appointments (appointment_id,patient_id,staff_id,appointment_details)
    VALUES  (1,1,1,'appointment_details')
                 """)
## insert into patients_medication sql query
insert_patients_medication = ("""
    INSERT INTO patients_medication (patients_medication_id,patient_id,medication_id,
                                     date_time_administered,dosage,commentss)
 VALUES  (1,1,1,'1996-07-04','dosage','commentss')
                  """)
## insert into facts sql query
insert_patients_medication = ("""
    INSERT INTO facts (fact_id,appointment_id,calender_id,medication_id,medication_type_code,
                                     patient_id,patients_medication,staff_id,other_details)
 VALUES  (1,1,1,1,1,1,1,1,'other_details')
                  """)
insert_queries = [insert_patients, insert_staff, insert_ref_calender, insert_medication,
                  insert_ref_medication_types, insert_ref_appointments,
                  insert_patients_medication, insert_patients_medication]


try:
    for query in insert_queries:
        session.execute(query)
except Exception as e:
    print(e)

In [165]:
print("Select patients")
query="SELECT * FROM patients "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.patient_id,row.first_name,row.middle_name,row.last_name,row.date_of_birth,row.gender_mfu,row.address
         ,row.other_details)
print("================================================================================================================")    
print("Select staff")
query="SELECT * FROM staff "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.staff_id,row.first_name,row.middle_name,row.last_name,row.date_of_birth,row.gender_mfu,row.qualifications
         ,row.other_details)  
print("================================================================================================================")    
   
print("select ref_calender")
query="SELECT * FROM ref_calender "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.calender_id,row.day_number,row.day_date,row.week_number,row.year_number,row.time_hrs)  
print("================================================================================================================")    
    
print("select medication")
query="SELECT * FROM medication "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.medication_id,row.medication_type_code,row.medication_unit_cost,row.medication_name
          ,row.medication_description
          ,row.other_details)
print("================================================================================================================")    
   
print("select ref_medication_types")
query="SELECT * FROM ref_medication_types "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.medication_type_code,row.medication_type_description)
print("================================================================================================================")    
    
print("select appointments")
query="SELECT * FROM appointments "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.appointment_id,row.patient_id,row.staff_id,row.appointment_details) 
print("================================================================================================================")    
    
print("patients_medication")
query="SELECT * FROM patients_medication "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.patients_medication_id,row.patient_id,row.medication_id,row.date_time_administered,row.dosage,row.commentss)
print("================================================================================================================")    

print("select facts")
query="SELECT * FROM facts "
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.fact_id,row.appointment_id,row.calender_id,row.medication_id,row.medication_type_code,row.patient_id
         ,row.patients_medication
         ,row.staff_id,row.other_details)

Select patients
1 AHMED ADEL HAASSAN 1996-07-04 m other_details other_details
================================================================================================================
Select staff
1 AHMED ADEL HAASSAS 1996-07-04 m qualifications other_details
================================================================================================================
select ref_calender
1 4 1996-07-04 5 5 5
================================================================================================================
select medication
1 1 medication_unit_cost medication_name medication_description other_details
================================================================================================================
select ref_medication_types
1 medication_type_description
================================================================================================================
select appointments
1 1 1 appointment_details
================================================================================================================
patients_medication
1 1 1 1996-07-04 dosage commentss
================================================================================================================
select facts
1 1 1 1 1 1 1 1 other_details

## We will drop the tables before closing out the sessions

## Drop Table Query

In [166]:
drop_appointments_table = "DROP TABLE IF EXISTS appointments "
drop_ref_calender_table = "DROP TABLE IF EXISTS ref_calender"
drop_patients_table = "DROP TABLE IF EXISTS patients"
drop_medication_table = "DROP TABLE IF EXISTS medication"
drop_ref_medication_types_table = "DROP TABLE IF EXISTS ref_medication_types"
drop_facts_table = "DROP TABLE IF EXISTS facts"
drop_patients_medications_table = "DROP TABLE IF EXISTS patients_medications"
drop_staff_table = "DROP TABLE IF EXISTS patients_medications"

## Drop Table Queries Lis

In [167]:
drop_table_queries = [drop_appointments_table, drop_ref_calender_table, drop_patients_table, drop_medication_table,
                      drop_ref_medication_types_table, drop_facts_table, drop_patients_medications_table, drop_staff_table]
try:
    for query in drop_table_queries:
        session.execute(query)
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [168]:
session.shutdown()
cluster.shutdown()